.asterScore {
  fill: #454545;
  cursor: pointer;
}

.arcGroup:hover .underArc {
  fill: #ccc;
}

.arcGroup {
  cursor: pointer;
}

.innerTick {
  stroke: #ccc;
  fill: none;
  stroke-dasharray: 4 4;
}

.outerTick {
  stroke: #969696;
  fill: none;
  stroke-width: 2px
}

.outerArc{
  fill: none;
}

.outerLabel{
  fill: #b2b2b2;
}

.outerLabelSelected {
  fill: #454545;
}

.labelOutline, .label{
  fill: #fff;
  pointer-events: none;
  text-rendering: optimizeLegibility;
  letter-spacing: .2em;
}

.labelOutline{
  stroke: #454545;
  stroke-width: .3em;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.overArc {
  stroke: #fff;
}

.selectedArc {
  stroke-width: 2px;
  fill: none;
  stroke: #454545;
}

.underArc {
  fill: none;
  stroke: none;
  pointer-events: all;
  opacity: .5;
  cursor: pointer;
}

.whiskers {
  stroke: #454545;
}
