.wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.clickable {
    cursor: pointer;
}

.svg {
    margin-right: 0.25em;
    flex: 0 1 16px;
}

.label {
    flex: 1 1 90%;
}
