.wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.clickable {
    cursor: pointer;
}

.clear {
    composes: clickable;
    margin-right: 0.25em;
}

.svg {
    margin-right: 0.25em;
    flex: 1 0 auto;
}

.label {
    flex: 1 1 auto;
}
