{
  "plugins": ["transform-object-rest-spread", "transform-runtime"],
  "env": {
    "es": {
      "presets": ["es2015-webpack", "react"],
      "plugins": [
        [
          "webpack-loaders",
          {
            "config": "./webpack.test.config.js",
            "verbose": false
          }
        ]
      ]
    },
    "commonjs:babel": {
      "presets": ["es2015", "react"],
      "plugins": [
        [
          "webpack-loaders",
          {
            "config": "./webpack.test.config.js",
            "verbose": false
          }
        ]
      ]
    },
    "commonjs:webpack": {
      "presets": ["es2015", "react"],
    },
  },
  "ignore": [
    "node_modules/",
    "src/test-utils/assets/"
  ]
}
