{
  "presets": ["react"],
  "plugins": ["lodash", "transform-object-rest-spread", "transform-runtime"],
  "env": {
    "demo": {
      "presets": [
        ["es2015", { "modules": false }]
      ],
    },
    "test": {
      "presets": ["es2015"],
      "plugins": ["css-modules-transform"]
    },
    "commonjs:babel": {
      "presets": ["es2015"],
      "plugins": [[
        "css-modules-transform",
        {
          "processCss": "./scripts/postCSSProcesser.js",
          "extractCss": {
            "dir": "./style/",
            "relativeRoot": "./src/",
            "filename": "[name].css"
          }
        }]
      ]
    },
    "commonjs:webpack": {
      "presets": ["es2015"],
      "plugins": [
        ["css-modules-transform", { "processCss": "./scripts/postCSSProcesser.js", "extractCss": "./dist/ihme-ui.css"}]
      ]
    }
  },
  "ignore": [
    "node_modules/"
  ]
}
