.map {
    flex: 1 0 auto;
    width: 100%;
}

.map-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
}

.title-container {
    color: #142027;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.legend {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 170px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
}

.legend-title-wrapper {
    color: #142027;
}

.legend-title {
    font-size: 19px;
    font-weight: 600;
    margin: 5px 0px 5px 0px;
    text-align: left;
}

.helper-text {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0px 5px 0px;
    text-align: left;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.legend-button-wrapper {
    display: flex;
    flex-direction: row; 
}

.legend-wrapper {
    width: 100%;
}

.legend-responsive-container {
    height: 100px !important;
    width: 100px !important;
}

.button-wrapper {
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 10px;
    margin-top: 3px;
}

.button-wrapper button:first-child {
    margin: 10px 0px 5px 0px;
}

.choropleth-legend-button {
    height: 28px;
    width: 113px;

    font-size: 12px;
    font-weight: 700;
    line-height: 13.06px;
    letter-spacing: 0.05em;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #1e7b53;
    border-radius: 0px;
    color: #1e7b53;
    fill: #1e7b53;
    background-color: #fffefc;
}

.choropleth-legend-button:disabled,
.chloropleth-legend-button.reset:disabled,
.choropleth-legend-button:disabled:hover,
.chloropleth-legend-button.reset:disabled:hover,
.choropleth-legend-button:disabled:focus,
.chloropleth-legend-button.reset:disabled:focus,
.choropleth-legend-button:disabled:active,
.chloropleth-legend-button.reset:disabled:active {
    background-color: #fffefc;
    border-color: #677378;
    color: #677378;
    fill: #677378;
}

.choropleth-legend-button:not(:disabled):hover, .choropleth-legend-button:not(:disabled):focus {
    background-color: #1e7b53;
    color: #fffefc;
    fill: #fffefc;
}

.choropleth-legend-button:not(:disabled):active {
    background-color: #3e525e;
    border-color: #3e525e;
    color: #fffefc;
    fill: #fffefc;
}

.choropleth-legend-button.reset:not(:disabled) {
    border: 1px solid #e4281b;
    color: #e4281b;
    fill: #e4281b;
}

.choropleth-legend-button.reset:not(:disabled):hover, .choropleth-legend-button.reset:not(:disabled):focus {
    background-color: #e4281b;
    color: #fffefc;
    fill: #fffefc;
}

.choropleth-legend-button.reset:not(:disabled):active {
    background-color: #560e0b;
    border-color: #560e0b;
    color: #fffefc;
    fill: #fffefc;
}