.wrapper {
  position: absolute;
  top: 1em;
  left: 1em;

  display: flex;
  flex-direction: column;
}

.wrapper button:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.wrapper button:nth-child(2) {
  border-radius: 0;
}

.wrapper button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wrapper > .button {
  /* override button's default justify-content: space-between */
  justify-content: center;

  /* make smaller than default 27px */
  height: 22px;
}