.slider {
  position: relative;
  box-sizing: border-box;
}

.rounded {
  border-radius: 4px;
}

.track {
  composes: rounded;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 5px;
  border: 1px solid;
  top: 20px;
}

.flag {
  position: absolute;
  top: 2px;
  min-width: 20px;
  width: auto;
  height: 14px;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: white;
  background-color: #27ae60;
  transition: left 0.3s ease-out;
}

.flag.left {
  transform: translate(-100%, 0px);
}

.flag.left:after {
  right: 0;
}

.flag.right {
  transform: translate(0px, 0px);
}

.flag.right:after {
  left: 0;
}

.flag:after {
  content: "";
  position: absolute;
  height: 6px;
  top: 100%;
  border: 1px solid #27ae60;
}

.flag.middle {
  transform: translate(-50%, 0px);
}

.flag.middle:after {
  left: calc(50% - 1px);
}

.flag span {
  padding: 4px;
  vertical-align: middle;
  cursor: ew-resize;
  pointer-events: all;
}
