.hidden {
  visibility: hidden;
}

.expansion-container {
  position: relative;
}

.expandable-target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.expandable-parent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*width: 100%;*/
  /*height: 100%;*/
}

.expandable {
  position: relative;
}

.expanded {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.restored {
  position: relative;
}
