.hidden {
  visibility: hidden;
}

.expansion-container {
  position: relative;
}

.expandable-target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.expandable-container {
  position: relative;
}

.expandable-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 20px;
}

.expandable-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.expanded {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.restored {
  position: relative;
}

.icon-container {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
}

.icon {
  fill: #f5f5f5;
}

.icon-container:hover .icon {
  fill: #e5e5e5;
}
