.common {
  border: none;
  border-radius: 2px;
  height: 27px;
  padding: 0 10px;
  color: black;
  background-color: #f5f5f5;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.common:hover:not(.green) {
  background-color: #e5e5e5;
}

.common:active,
.common:focus {
  outline: none;
}

.common:disabled,
.disabled {
  background-color: white;
  color: rgba(204, 204, 204, 1);
}

.active:not(:disabled),
.common:active:not(:disabled) {
  background-color: #d5d5d5;
  color: #27ae60;
}

.icon {
  margin-right: 0.5rem;
}

.labeled {
  margin-left: 7px;
}

.green {
  background-color: #27ae60;
  color: white;
}
