.legend {
  height: 100px;
  width: 100%;
}

.legend-wrapper {
  position: absolute;
  right: 0px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  /*flex-direction: row;*/
}

.chart {
  flex: 1 0 auto;
  width: 100%;
}

.chart-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.title {
  text-align: center;
  display: block;
  /*width: 100%;*/
}


